rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /contactMessages/{messageId} {
      allow create: if request.resource.data.name is string
      && request.resource.data.name.size() >= 2
      && request.resource.data.name.size() <= 100
      && request.resource.data.email is string
      && request.resource.data.email.size() <= 254
      && request.resource.data.message is string
      && request.resource.data.message.size() >= 5
      && request.resource.data.message.size() <= 5000;
      allow read, update, delete: if false;
    }
  }
}